In [11]:
import requests
import json
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint
from config import api_key

pd.options.display.float_format = "{:,.5f}".format

allmovies_df = pd.read_csv("allmoviesdata.csv")
allmovies_df

,Movie ID,Rank,Title,Production Budget,Domestic Gross,Worldwide Gross,Main Genre,2nd Genre,3rd Genre,IMDB Rating,Studio,Year,IMDb ID,Director
0,0,48,Black Panther,"200,000,000.00000","700,059,566.00000","1,336,494,320.00000",Action,Adventure,Drama,7.40000,Walt Disney Pictures,2018,NaN,Ryan Coogler
1,1,5,Avengers: Infinity War,"300,000,000.00000","678,815,482.00000","2,048,359,754.00000",Action,Adventure,Sci-Fi,8.50000,Walt Disney Pictures,2018,NaN,"Anthony Russo, Joe Russo"
2,2,50,Incredibles 2,"200,000,000.00000","608,581,744.00000","1,242,805,359.00000",Animation,Action,Adventure,7.80000,Pixar,2018,NaN,Brad Bird
3,3,144,Jurassic World: Fallen Kingdom,"170,000,000.00000","417,719,760.00000","1,308,323,302.00000",Action,Adventure,Drama,6.20000,Universal Pictures,2018,NaN,J.A. Bayona
4,4,11,Solo: A Star Wars Story,"275,000,000.00000","213,767,512.00000","393,151,347.00000",Action,Adventure,Drama,7.00000,Walt Disney Pictures,2018,NaN,Ron Howard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,204,"4,918",Annie Hall,"4,000,000.00000","38,251,425.00000","38,251,425.00000",Romance,Drama,Comedy,8.10000,Metro-Goldwyn-Mayer,1977,tt0075686,Woody Allen
217,205,"2,387",The Omen,"25,000,000.00000","54,607,383.00000","119,295,584.00000",Thriller,Horror,Drama,7.60000,20th Century Fox,1976,tt0075005,Richard Donner
218,206,44,King Kong,"207,000,000.00000","218,080,025.00000","550,517,357.00000",Horror,Fantasy,Adventure,5.80000,Paramount Pictures,1976,tt0074751,John Guillermin
219,207,445,Midway,"100,000,000.00000","56,846,802.00000","126,815,030.00000",History,Drama,Action,6.70000,Universal Pictures,1976,tt0074899,Jack Smight
220,208,"4,676",The Return of the Pink Panther,"5,000,000.00000","41,833,347.00000","41,833,347.00000",Thriller,Crime,Comedy,7.10000,Metro-Goldwyn-Mayer,1975,tt0072081,Blake Edwards

In [20]:
#Creating a dataframe of directors, their budget, and gross for thier movies
directormoviecount = allmovies_df.groupby(["Director"]).count()["Title"]
directorbudget = allmovies_df.groupby(["Director"]).mean()["Production Budget"]
directordomestic = allmovies_df.groupby(["Director"]).mean()["Domestic Gross"]
directorworldwide = allmovies_df.groupby(["Director"]).mean()["Worldwide Gross"]
directors_df = pd.DataFrame({"Number of Movies":directormoviecount,
                            "Average Budget": directorbudget,
                            "Average Domestic Gross": directordomestic,
                            "Average Worldwide Gross": directorworldwide})

#Dataframe of top directors based on the number of movies that they made
moviedirect_df = directors_df.sort_values("Number of Movies", ascending=False)
moviedirect_df = moviedirect_df.head(50)

budgdirect_df = directors_df.sort_values("Average Budget", ascending=False)
budgdirect_df = budgdirect_df.head(50)

,Number of Movies,Average Budget,Average Domestic Gross,Average Worldwide Gross
Director,,,,
Rob Marshall,1,"379,000,000.00000","241,071,802.00000","1,045,713,802.00000"
Joss Whedon,2,"295,000,000.00000","541,181,889.00000","1,455,208,595.00000"
"Roger Allers, Rob Minkoff",1,"260,000,000.00000","543,638,043.00000","1,647,733,638.00000"
"Nathan Greno, Byron Howard",1,"260,000,000.00000","200,821,936.00000","583,777,242.00000"
"Anthony Russo, Joe Russo",3,"240,000,000.00000","448,882,263.00000","1,304,887,076.33333"
Andrew Adamson,1,"225,000,000.00000","141,621,490.00000","417,341,288.00000"
Barry Sonnenfeld,1,"215,000,000.00000","179,020,854.00000","654,213,485.00000"
Colin Trevorrow,1,"215,000,000.00000","652,306,625.00000","1,669,963,641.00000"
Zack Snyder,4,"212,000,000.00000","265,261,236.50000","662,625,438.25000"
Marc Webb,2,"210,000,000.00000","232,442,298.00000","733,443,301.50000"
Brett Ratner,1,"210,000,000.00000","234,362,462.00000","459,260,946.00000"
John Guillermin,1,"207,000,000.00000","218,080,025.00000","550,517,357.00000"
David Yates,2,"200,000,000.00000","297,113,269.00000","934,515,459.00000"
Gareth Edwards,1,"200,000,000.00000","533,539,991.00000","1,055,083,596.00000"
"John Lasseter, Bradford Lewis",1,"200,000,000.00000","191,450,875.00000","560,155,383.00000"
Lee Unkrich,1,"200,000,000.00000","415,004,880.00000","1,068,879,522.00000"
Dan Scanlon,1,"200,000,000.00000","268,488,329.00000","743,455,810.00000"
Ryan Coogler,1,"200,000,000.00000","700,059,566.00000","1,336,494,320.00000"
Sam Mendes,1,"200,000,000.00000","304,360,277.00000","1,110,526,981.00000"
Shane Black,1,"200,000,000.00000","408,992,272.00000","1,215,392,272.00000"
"Tony Bancroft, Barry Cook",1,"200,000,000.00000",0.00000,"69,973,540.00000"
James Wan,1,"190,000,000.00000","353,007,020.00000","1,514,553,486.00000"
"Ron Clements, John Musker",1,"182,000,000.00000","355,559,216.00000","1,046,587,513.00000"
Andrew Stanton,1,"180,000,000.00000","223,808,164.00000","532,508,025.00000"
Taika Waititi,1,"180,000,000.00000","315,058,289.00000","850,482,778.00000"
Robert Stromberg,1,"180,000,000.00000","241,407,328.00000","758,536,735.00000"
Jon Favreau,2,"178,000,000.00000","315,518,728.50000","603,163,968.00000"
"Pete Docter, Bob Peterson",1,"175,000,000.00000","293,004,164.00000","731,463,377.00000"
Jon Watts,1,"175,000,000.00000","334,201,140.00000","878,271,291.00000"
Christopher Nolan,2,"172,500,000.00000","413,148,571.00000","863,576,874.50000"
Matt Reeves,1,"170,000,000.00000","208,545,589.00000","710,644,566.00000"
James Gunn,1,"170,000,000.00000","333,714,112.00000","770,882,395.00000"
J.A. Bayona,1,"170,000,000.00000","417,719,760.00000","1,308,323,302.00000"
Bryan Singer,3,"169,000,000.00000","197,113,750.33333","478,605,444.66667"
"Dean DeBlois, Chris Sanders",1,"165,000,000.00000","217,581,232.00000","494,870,992.00000"
Mike Mitchell,1,"165,000,000.00000","238,736,787.00000","756,244,673.00000"
"Chris Miller, Raman Hui",1,"160,000,000.00000","322,719,944.00000","807,330,936.00000"
Francis Lawrence,1,"160,000,000.00000","281,723,902.00000","648,986,787.00000"
Michael Bay,8,"157,812,500.00000","248,989,512.50000","673,227,723.50000"
Ron Howard,3,"154,333,333.33333","215,963,034.66667","358,133,007.00000"
Peter Jackson,2,"150,500,000.00000","297,962,965.00000","835,364,126.50000"
"Byron Howard, Rich Moore, Jared Bush",1,"150,000,000.00000","341,268,248.00000","1,004,629,935.00000"
Jennifer Yuh Nelson,1,"150,000,000.00000","165,249,063.00000","664,837,547.00000"
"Brad Bird, Jan Pinkava",1,"150,000,000.00000","206,445,654.00000","626,549,695.00000"
Patty Jenkins,1,"150,000,000.00000","412,563,408.00000","817,691,766.00000"
"Chris Buck, Jennifer Lee",1,"150,000,000.00000","400,953,009.00000","1,261,629,241.00000"
Tim Burton,3,"150,000,000.00000","240,220,642.00000","621,176,111.33333"
Alan Taylor,1,"150,000,000.00000","206,362,140.00000","644,602,516.00000"
J.J. Abrams,1,"150,000,000.00000","133,501,348.00000","399,387,745.00000"
Stephen Sommers,2,"146,500,000.00000","141,054,382.50000","422,497,150.00000"